.thread2-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 480px;
  height: 580px;
  top: 75px;
  border-radius: 15px;
  background: #fdfdfd;
  box-shadow: 1px 1px 4px 2px #00000040;
  overflow-y: hidden;
}
.thread2-card .t2-title {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  letter-spacing: 0.02em;
  color: #fdfdfd;
  background: #000000;
  width: 480px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0px 0px;
}
.thread2-card .t2-title .information2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-family: Poly;
  font-size: 16px;
  font-weight: 400;
  left: 150px;
  line-height: 19.01px;
  letter-spacing: 0.02em;
  background: #fcfbfb;
  color: #000000;
}
.thread2-card .threadcard2-description {
  display: flex;
  align-items: center;
  width: 480px;
  height: 129px;
  padding: 20px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  letter-spacing: 0.02em;
}
.thread2-card .threadcard2-description span {
  font-weight: 600;
}
.thread2-card .body2 {
  width: 479px;
  height: 428px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  border-radius: 0px 0px 15px 15px;
  border: 1px 0px 0px 0px;
  border: 1px solid #d1cece;
  
}
.thread2-card .body2 .b2-intro{
    display: flex;
    flex-direction: column;
    gap: 20px;
  transition: max-height 0.9s ease-out;
  max-height: 120px;
}
.thread2-card .body2 .b2-intro .b2-title  {
  width: 434px;
  height: 43px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
  background: #f2f2f2;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  letter-spacing: 0.02em;
  color: black;
}
.thread2-card .body2 .b2-intro .b2-title i{
  cursor: pointer;
}
.thread2-card .body2 .b2-intro .b2-content{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    gap: 20px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    letter-spacing: 0.02em;
}
.thread2-card .body2 .b2-intro .b2-content .seemore{
    font-family: Open Sans;
font-size: 14px;
font-weight: 600;
line-height: 19.07px;
letter-spacing: 0.02em;
text-align: right;
}
.thread2-card .body2 .b2-thread .b2-threadbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 434px;
    gap: 20px;
    padding-bottom: 20px;
    transition: max-height 0.9s ease-out;
  max-height: 190px;
}
.thread2-card .body2 .b2-thread .b2-threadbody .b2-title  {
    width: 434px;
    height: 43px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 20px;
    background: white;
    border: 1px solid black;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    letter-spacing: 0.02em;
    color: black;
  }
  .thread2-card .body2 .b2-thread .b2-title i{
    cursor: pointer;
  }
  .thread2-card .body2 .b2-thread .b2-threadbody .b2-content{
      display: flex;
      flex-direction: column;
      padding-left: 5px;
      gap: 20px;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.07px;
      letter-spacing: 0.02em;
  }
  .thread2-card .body2 .b2-thread .b2-threadbody .b2-content .seemore{
      font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.07px;
  letter-spacing: 0.02em;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
  }
  .thread2-card .body2 .b2-thread .b2-threadexm{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 394px;
    gap: 20px;
    transition: max-height 0.9s ease-out;
    max-height: 120px;
}
.thread2-card .body2 .b2-thread .b2-threadexm .b2-title  {
    width: 394px;
    height: 43px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 20px;
    background: white;
    border: 1px solid black;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    letter-spacing: 0.02em;
    color: black;
  }
  .thread2-card .body2 .b2-thread .b2-threadexm .b2-title i{
    cursor: pointer;
  }
  .thread2-card .body2 .b2-thread .b2-threadexm .b2-content{
      display: flex;
      flex-direction: column;
      padding-left: 5px;
      gap: 10px;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.07px;
      letter-spacing: 0.02em;
  }
  .thread2-card .body2 .b2-thread .b2-threadexm .b2-content .seemore{
      font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.07px;
  letter-spacing: 0.02em;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
  }